/*
reglas:
selectores; esta formados por como identificamos un elemento html
declaraciones; las cosas que hacemos que con esos selectores
propiedades; cosas particulares que podemos hacer sobre ese elemento
valores; cosas que esperan recibir como variables las propiedades para actuar de forma correcta
*/
body{
    font-family: 'Source Sans Pro', sans-serif; 
    
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;/*tipo de fuente*/
    font-weight: normal;/*peso de la fuente*/
    /*font-style: italic ;/*estilo de la fuente*/
}

h1{
    font-size: 40px; /*tamano de la fuente*/
    line-height: 1.5;/*espacio entre lineas*/
    letter-spacing: -.2px; /*Separacion de entre letras*/
    /*text-transform: uppercase;/*Transformaciones de texto*/
    /*text-decoration: dashed ;/*Decoracion de texto*/
    color: white;
    text-transform: capitalize;
    margin: 100px 500px 70px 30px;

    
}
.project {
    /*border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid orange;
    border-bottom: 10px solid pink;*/
    border: 1px solid gray;
    border-radius: 10px;
    /* border-top-left-radius: 50px; */
    margin-bottom: 15px;
}
.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}
.hero{
    height: 250px;
    background-image: url('../desarrollo-web-portafolio/images/hero.jpg');/*Agregar imagen de fondo con url*/
    background-color: #1b2127;
    background-size:500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    
    
}
.hero strong{
    color: #026fff ;
}

/*
gris oscuro = #1d252c
gris claro = #626262
background gris = #1b2127
celeste = #026fff
*/
.header{
    background-color: #1b2127;
    color: white;
}
.header a {/*etiqueta heredada*/
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
/* selectores */

/* selector de etiqueta header - seccion - article - nav */

/* selector descendente  */
/* body header div nav ol li a */

/* selector de clase . */
/* .link */

/* selector de id -> #nombreid */


/* declaraciones, propiedades y valores */
/* una declaracon es todo lo que esta dentro de las llaves y termina sin punto y coma. las propiedades son los atributos que 
queremos dentro de esa declaracion y los valores son lo que se especifica en las propiedades */